<div class="panel panel-default" id="pulmon" style="display: none">
  <!-- Default panel contents -->
  <div class="panel-heading">Bodega Pulmón</div>
  <div class="panel-body">
    <span> Uso: </span>
    <div class="progress">
      <div class="progress-bar <% if @capacidad_pulmon.to_i < 30 %> progress-bar-info <%elsif @capacidad_pulmon.to_i < 70 %> progress-bar-warning <%else%> progress-bar-danger <%end%>" role="progressbar" aria-valuenow="<% @capacidad_pulmon %>" aria-valuemin="0" aria-valuemax="100" style="width: <% @capacidad_despacho %>; min-width: 2em">
        <%= @capacidad_pulmon.to_i.to_s %> %
    </div>
</div>
</div>

<% if @productos_pulmon.count() == 0 %>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">No hay productos en esta bodega</div>
        </div>
    </div>
<% else %>
    <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>SKU</th>
          <th>Categoría</th>
          <th>Cantidad</th>
        </tr>
        </thead>
        <% @productos_pulmon.each do |producto| %>
            <tr>
              <td class="nomb"><%= ProductoManager.get_nombre(producto[:_id]) %></td>
              <td class="sku"><%= producto[:_id].to_s %></td>
              <td class="cat"><%= ProductoManager.get_categoria(producto[:_id]) %></td>
              <td class="cant"><%= producto[:total].to_s %></td>
            </tr>
      <% end %>
    </table>
<% end %>

</div>