<h1>Grupo 5 </h1>
<p>Esta es la página de inicio</p>

<hr>

<div id="search_tab">
  <%= form_tag("/orders/obtain_order", method: "get") do %>
      <%= label_tag(:order_id, "Search for:") %>
      <%= text_field_tag(:order_id) %>
      <%= submit_tag("Search") %>
  <% end %>
</div>
<hr>

<div id="contenedor_info_orden">
  <div class="infoOrden" id="infoId">
    Id:<%= id %>
  </div>
  <div class="infoOrden" id="infoDateCreacion">
    Fecha creación:
  </div>
  <div class="infoOrden" id="infoCanal">
    Canal: <%= canal %>
  </div>
  <div class="infoOrden" id="infoProveedor">
    Proveedor:
  </div>
  <div class="infoOrden" id="infoCliente">
    Cliente:
  </div>
  <div class="infoOrden" id="infoSku">
    Sku:
  </div>
  <div class="infoOrden" id="infoCantidad">
    Cantidad:
  </div>
  <div class="infoOrden" id="infoCantDespachada">
    Cantidad despachada:
  </div>
  <div class="infoOrden" id="infoPrecioUnidad">
    Precio unitario:
  </div>
  <div class="infoOrden" id="infoDateEntrega">
    Fecha entrega:
  </div>
  <div class="infoOrden" id="infoDateDespacho">
    Fechas despachos:
  </div>
  <div class="infoOrden" id="infoEstado">
    Estado:
  </div>
  <div class="infoOrden" id="infoRechazo">
    Motivo rechazo:
  </div>
  <div class="infoOrden" id="infoAnulacion">
    Motivo anulación:
  </div>
  <div class="infoOrden" id="infoNotas">
    Notas:
  </div>
  <div class="infoOrden" id="infoFactura">
    Id factura:
  </div>
  <div class="infoOrden" id="infoInventario">
    Movimientos de Inventario:
  </div>
  <div class="infoOrden" id="infoCantProducida">
    Cantidad Producida:
  </div>
  <div class="infoOrden" id="infoCompInsumos">
    Compra de Insumos:
  </div>
  <div class="infoOrden" id="infoNumFacturas">
    Números de Facturas:
  </div>
  <div class="infoOrden" id="infoMovBancarios">
    Movimientos Bancarios:
  </div>
</div>