<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Ordenes de compra almacenadas
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Pedido</th>
						<th>Canal</th>
						<th>Cliente</th>
						<th>Sku</th>
						<th>Fecha de entrega</th>
						<th></th>
					</tr>
				</thead>
				<% @pedidos.each do |p| %>
					<tr>
						<td><%= p.oc_id %></td>
						<td><%= p.canal %></td>
						<td><%= p.cliente %></td>
						<td><%= p.sku %></td>
						<td><%= f_date(p.fecha_entrega) %></td>
						<td><%= link_to 'detalles', home_index_path(order_id: p.oc_id) %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>