<div class="row">
  <div class="col-md-12">

    <div id="search_tab">
        <%= form_tag("/home/test", method: "get") do %>
            <%= label_tag(:order_id, "Buscar orden de compra:") %>
            <%= select_tag(:order_id, options_from_collection_for_select(@ordenes, :oc_id, :oc_id)) %>
            <%= submit_tag("Buscar", class: "btn btn-default") %>
        <% end %>
    </div>
  </div>
</div>


<% if @oc %>
  <div class="row logs">
    <%= render 'info_table' %>
    <%= render 'logs_table' %>
  </div>
<% end %>