<%= render 'titulo' %>
<div class="col-md-12">
  <nav class="pull-right">
    <ul class="pagination">
      <li>
        <%= link_to pedidos_path(page: previous_page(@page)) do %>
          <span aria-hidden="true">&laquo;</span>
        <% end %>
      </li>
      <% for i in 1..@count %>
        <li class= "<%= 'active' if i == @page %>">
        <%= link_to i, pedidos_path(page: i)%>
        </li>
      <%end%>  
      <li>
        <%= link_to pedidos_path(page: next_page(@page)) do %>
          <span aria-hidden="true">&raquo;</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Ordenes de compra almacenadas
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Pedido</th>
          <th>Id orden de compra</th>
          <th>Canal</th>
          <th>Cliente</th>
          <th>Sku</th>
          <th>Fecha de entrega</th>
          <th></th>
        </tr>
      </thead>
      <% @pedidos_pagina.each do |p| %>
        <tr>
          <td><%= @primer_numero %></td>
          <td><%= p.oc_id %></td>
          <td><%= p.oc_id %></td>
          <td><%= p.canal %></td>
          <td><%= p.cliente %></td>
          <td><%= p.sku %></td>
          <td><%= f_date(p.fecha_entrega) %></td>
          <td><%= link_to 'detalles', action: 'index', id: p.oc_id %></td>
        </tr>
        <% @primer_numero= @primer_numero+1 %>
      <% end %>
    </table>
  </div>
</div>