<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Dashboards</h1>
		</div>
	</div>
</div>

<div class="row">
	<ul class="nav nav-tabs">

		<li role="presentation" class="<%= params[:action] == 'warehouses' ? 'active' : '' %>">
			<%= link_to 'Bodegas', dashboards_warehouses_path %>
		</li>

		<li role="presentation" class="<%= params[:action] == 'orders' ? 'active' : '' %>">
			<%= link_to 'Pedidos', dashboards_orders_path %>
		</li>

		<li role="presentation" class="<%= params[:action] == 'social' ? 'active' : '' %>">
			<%= link_to 'Social', dashboards_social_path %>
		</li>

		<li role="presentation" class="<%= params[:action] == 'clients' ? 'active' : '' %>">
			<%= link_to 'Clientes', dashboards_clients_path %>
		</li>

		<li role="presentation" class="<%= params[:action] == 'bank' ? 'active' : '' %>">
			<%= link_to 'Banco', dashboards_bank_path %>
		</li>

	</ul>
</div>

<div class="row">
	<%= yield %>	
</div>