<div class="panel panel-default">
    <div class="panel-heading">
        <%= locals[:nombre_almacen].capitalize %>
    </div>

    <div class="panel-body">

        <% if locals[:nombre_almacen] != 'todos' && locals[:nombre_almacen] != 'pulmon' %>
            <div class="row">
                <div class="col-md-12">
                    <span> Uso: </span>

                    <div class="progress">
                        <div class="progress-bar <% if locals[:capacidad].to_i < 30 %> progress-bar-info <% elsif locals[:capacidad].to_i < 70 %> progress-bar-warning <% else %> progress-bar-danger <% end %>" role="progressbar" aria-valuenow="<% locals[:capacidad] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= locals[:capacidad] %>%; min-width: 2em">
                            <%= locals[:capacidad].to_i.to_s %> %
                        </div>
                    </div>
                </div>
            </div>
        <% end %>


        <div class="row">
            <div class="col-md-12">
                <% if locals[:productos].count() == 0 %>
                    <div class="alert alert-danger" role="alert">
                        No hay productos en esta bodega
                    </div>
                <% else %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>SKU</th>
                                <th>Categoría</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <% locals[:productos].each do |producto| %>
                            <tr>
                                <td class="nomb"><%= ProductoManager.get_nombre(producto[:_id]) %></td>
                                <td class="sku"><%= producto[:_id].to_s %></td>
                                <td class="cat"><%= ProductoManager.get_categoria(producto[:_id]) %></td>
                                <td class="cant"><%= producto[:total].to_s %></td>
                            </tr>
                        <% end %>
                    </table>
                <% end %>
            </div>
        </div>

    </div>
</div>