<div class="row">
	<div class="col-md-12">
		<h1>
			Documentación B2B
			<br>
		</h1>
	</div>
</div>
<%= render 'observaciones' %>
<%= render 'new_user' %>
<%= render 'ask_for_token' %>
<%= render 'comprar_producto' %>
<%= render 'notificar_orden_aceptada' %>
<%= render 'notificar_orden_rechazada' %>
<%= render 'anular_orden_de_compra' %>
<%= render 'notificar_factura_pagada' %>