<div class="row">
	<div class="col-md-12 page-header">
		<h1>
			Documentación B2B
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>
			<b>Host:</b>
			<code>integra5.ing.puc.cl/b2b/</code>
		</p>
	</div>
</div>

<%= render 'observaciones' %>
<%= render 'new_user' %>
<%= render 'get_token' %>

<%= render 'new_order' %>
<%= render 'order_accepted' %>
<%= render 'order_canceled' %>
<%= render 'order_rejected' %>

<%= render 'invoice_created' %>
<%= render 'invoice_paid' %>
<%= render 'invoice_rejected' %>