<div class="row">
	<div class="col-md-12">
		<h1>
			Documentación B2B
			<br>
			<small> Grupo 5</small>
		</h1>
	</div>
</div>

<%= render 'comprar_producto' %>
<%= render 'notificar_orden_aceptada' %>
<%= render 'notificar_orden_rechazada' %>
<%= render 'notificar_factura_pagada' %>
<%= render 'anular_orden_de_compra' %>