<div class="row">
	<div class="col-md-12">
		<h1>
			Documentación B2B
			<br>
		</h1>
	</div>
</div>

<%= render 'observaciones' %>
<%= render 'new_user' %>
<%= render 'get_token' %>

<%= render 'new_order' %>
<%= render 'order_accepted' %>
<%= render 'order_canceled' %>
<%= render 'order_rejected' %>

<%= render 'invoice_created' %>
<%= render 'invoice_paid' %>
<%= render 'invoice_rejected' %>