<!DOCTYPE html>
<html>
<head>
  <title>Grupo 5 | IIC3103 </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
	<%= render 'layouts/nav_top_bar' %>

	<div class="row content">
		<div clas="col-md-12">
			<a href="/"><h1>Grupo 5 </h1></a>
		</div>
		<div class="row">
			<%= yield %>
		</div>
	</div>


</body>
</html>
